
/*Por medio de la etiqueta 
body se esta definiendo que todo el documento tenga un solo tipo de letra */
body{
	font-family: sans-serif;

}

nav{
	/*outline: 1px solid red;*/
	width: 200px;
}
/*A las etiquetas ancor<a></a> hace que las palabras tengan
un subrayado y tomen un color azulado*/
/*A listas que se creo con  las etiquetas <ul> y <li> les agrega una viñeta  y un espacio por defecto*/

/*outline: permite que se dibuje un contorno atravez de la etiqueta que permite
	visualizarlo, no desmaqueta la estructura*/
ul{
	/*outline: 1px solid yellow;*/	
	list-style: none; /*le quita las viñetas*/
	margin: 0;
	padding: 0;
	width: 200px;
	line-height: 26px; /*espaciado entre lineas del menu vertical*/
}
li{
	/*outline: 1px solid red;*/
	background: #f5f5f0; /*color plomo*/
}

/*estados de los enlaces al pasar el mouse: Love/ (Link Visited Hover Active)*/

a{
	/*outline: 1px solid green;*/
	display: block; /*convierte el ancot en bloque para que ocupe todo el li*/
	text-decoration: none; /*quita el subrayado*/
	color: #000;
	padding-left: 8px;
}
a:hover{
	background: #e0e0d1; /*plomo oscuro: efecto de color al pasar sobre cada item */
}

a:active{
	background: #333;/*cuando le damos clic al enlace el item cambia de color negro*/
	color: #fff; /*texto blanco a los items al hacer clic*/
}
ul li:first-child{
	background: #f9a91a; /*primer item: color amarillo(sin pasar el mouse)*/
}

ul li:first-child a{
	color: #fff; /*primer item: texto blanco(sin pasar el mouse)*/
 
}
ul li:first-child a:hover{
	color: #000; /*primer item: texto negro(al pasar el mouse)*/	
}
ul li:first-child a:active{
	color: #fff; /*primer  item: texto blanco(al hacer clic) ;
}